html { 
  background: url(img/bk2.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.main{
	width: 100%;
	height:553px;
}

.logo {
	width: 260px;
	height: auto;
	float: left;
	display: block;
	margin-left: 80px;
	margin-top: -140px;
	clear: both;
}

h1{
	font-family: "Helvetica Neue",Helvetica,sans-serif;
	font-weight: 900;
	text-transform: none;
	letter-spacing: -3px;
	color: #fff;
	font-size: 72px;
	margin-top: 190px;
	margin-bottom: 36px;
	margin-left: 68px;
	
}

ul{
	
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	font-family: "Helvetica Neue",Helvetica,sans-serif;
	line-height: 32px;
	float: left;
	-webkit-margin-before: 1em;
	-webkit-margin-after: 1em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	margin-left: 60px;
	margin-top: -20px;
	list-style: none;
	width: 100%;
	padding: 7px 10px;
	color: rgb(102, 102, 102);
    display: inline;
	font-size: 14px;
	font-family: Arial, Helvetica, sans-serif;
	f


}
li{
	background: rgba(255, 250, 250,.94);
	margin-top: 15px;
	display: inline-block;
	
	font-weight: 400;
	letter-spacing: -.1px;


}
.bars{
	width:1400px;
	height: auto;
}

.roja{
	color: red;
	padding-left: 8px;
	font-weight: bold;
}
.register{
	color: white;
	background: rgba(255, 0, 0, .76);
	padding: 5px 10px;
	font-weight: 500;
	margin-left: 580px;
	margin-top: -50px;

}

a:link {
		text-decoration: none;
		color: white;
	}
a:-webkit-any-link {
		color: white;
	}
.foot{
	width: 100%;
	height auto;
	margin-top: 64px;
}